<div class="container-fluid">
  <div class="footer">
    <div class="header-row color">
      <div class="marquee-container">
        <div class="content-wrapper">
          <div class="image-container">
            <img src="../assets/medical5" alt="image1">
          </div>
          <div class="image-container">
            <img src="../assets/medical2" alt="image1">
          </div>
          <div class="image-container">
            <img src="../assets/medical3" alt="image1">
          </div>
          <div class="image-container">
            <img src="../assets/medical4" alt="image1">
          </div>
          <div class="image-container">
            <img src="../assets/medical-error.jpg" alt="image1">
          </div>
          <div class="clinic-info">
            <span>Vernon Medical Clinic</span><br>
            <span>67a Vernon Avenue</span><br>
            <span>Clontarf</span><br>
            <span>Dublin 3</span><br>
            <span>Tel: 01 8532070</span><br>
            <span>Fax: 01 8533692</span>
          </div>
        </div>
      </div>
    </div>
    <div class="header-row "></div>
    <div class="header-row nav-bar content-alignment-center justify-content-center footer color1">
      <p class="text-center font-weight-bold">copyright Vernon Medical Clinic</p>
    </div>
  </div>
</div>
