.service-information {
    font-family: Arial, sans-serif;
    
  }
  
  .heading {
    font-weight: bold;
    color: rgb(25, 10, 140);
  }
  
  .sub-heading {
    font-weight: bold;
    color: rgb(25, 10, 140);
  }
  