<div class="container-fluid">
    <div class="container-fluid">

      <div class="row col-sm-12">
        <div class="col-sm-6">
        <div class="contact-info">
            <p>
              <span class="heading">Contact</span><br>
              <span class="clinic-name">Vernon Medical Clinic</span><br>
              67a Vernon Avenue<br>
              Clontarf<br>
              Dublin 3<br><br>
              <span class="telephone"><strong>Telephone:</strong> (01) 8532070</span><br>
              <span class="fax"><strong>Fax:</strong> (01) 8533692</span>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="../assets/contact.avif" class="img-responsive" alt="Contact">
        </div>
      </div>

    </div>
</div>