<div class="container-fluid">
    <div class="container-fluid">

        <div class="fees-container">
          <div class="row col-sm-12">
            <div class="col-sm-7">
            <h2 style="color: rgb(25, 10, 140); font-weight: bold;">Fees</h2>
            <ul>
              <li><strong>Consultation:</strong> €65</li>
              <li><strong>Follow up Visit:</strong> €40</li>
              <li><strong>Family Visit:</strong> €85</li>
              <li><strong>House Call:</strong> €70</li>
              <li><strong>Blood Test:</strong> €40</li>
              <li><strong>Cervical smear:</strong> Free in age group 25 years to 60 years. Otherwise €65</li>
              <li><strong>Private smear:</strong> €140</li>
              <li><strong>Ear syringing:</strong> €60</li>
              <li><strong>Suture removal:</strong> €30</li>
              <li><strong>24-hour blood pressure monitor:</strong> €50</li>
              <li><strong>Blood pressure check:</strong> €20</li>
              <li><strong>ECG:</strong> €50</li>
              <li><strong>Pregnancy testing:</strong> €20</li>
              <li><strong>Pre-employment / Adoption medical:</strong> €70</li>
              <li><strong>Private prescription:</strong> €10</li>
              <li><strong>Private work cert:</strong> €10</li>
              <li><strong>Injections:</strong> €20</li>
              <li><strong>Driving License:</strong> €60</li>
              <li><strong>Vaccinations:</strong></li>
              <ul>
                <li>Flu - € 20</li>
                <li>Diphtheria, tetanus - € 20</li>
                <li>Diphtheria, tetanus and polio - € 40</li>
                <li>Hep A & B adult - € 50</li>
                <li>Hep A & B paediatric - € 30</li>
                <li>Hep A & Typhoid - € 73</li>
                <li>Hep A adult - € 40</li>
                <li>Hep A paediatric - € 30</li>
                <li>Hep B adult - € 30</li>
                <li>Hep B paediatric - € 22</li>
                <li>Meningitis - € 31</li>
                <li>Rabies - € 64</li>
                <li>Twinrix adult - € 42</li>
                <li>Twinrix paediatric - € 19</li>
                <li>Typhoid - € 28</li>
                <li>Yellow fever - € 30</li>
                <li>Chicken Pox - € 65</li>
                <li>Shingles - € 220</li>
              </ul>
            </ul>
          </div>
       
        <div class="col-sm-5">
          <img src="../assets/health check.jpg" alt="fees" class="check-img">
          <img src="../assets/medical bill.jpg"  class="bill-img">

        </div>
       
        </div>

          </div>
          

    </div>
</div>