<div class="container-fluid">
    <div class="container-fluid">
        <div class="row col-sm-12">
            <div class="col-sm-7">
        <span class="special-interest">
            Opening Hours
        </span><br><br>
        <span class="special-interest">Monday: </span>
        9am - 1 pm 2 pm- 5 pm<br>
        <span class="special-interest">Tuesday:</span>
        9am - 1 pm 2pm - 5 pm<br>
        <span class="special-interest">Wednesday: </span>
        9am - 1 pm Closed<br>
        <span class="special-interest">Thursday:</span>
        9am- 1 pm 2pm - 5pm<br>
        <span class="special-interest">Friday:</span>
        9am- 1 pm 2pm - 5pm<br><br>
        <span class="bold">All our consultations are by appointment.</span>
        Please call our reception to make an<br>
        appointment at (01) 8532070.<br><br><br>
        <span class="special-interest">Outside Hours: </span>D Doc 1850 224477.<br><br>
        Ms Gaye Keane, our practice nurse will do
        <span class="bold">blood tests </span> from 8am to 10am on Monday and<br>
        Thursday and will do<span class="bold">cervical smear testing</span>by appointment.
    </div>
        <div class="col-sm-5">
            
            <img src="../assets/opening.jpg" alt="open" class="img-fluid">
        </div>
    </div>
    </div>


</div>