<div class="container-fluid">
    <div class="container-fluid">
      <div class="row col-sm-12">
        <div class="col-sm-6">
        <div class="useful-health-forms">
            <h2 class="heading">Useful Health Forms</h2>
            <ul class="form-list">
              <li><a href="https://www.revenue.ie/forms/med1.pdf">Expenses – Claim for Tax Relief - MED 1 Form</a></li>
              <li><a href="https://www.gov.ie/redirects/?from=https://www.welfare.ie/EN/Forms/Documents/cr1.pdf">Claim form for Carer’s Allowance - CR1 Form</a></li>
              <li><a href="https://www.gov.ie/redirects/?from=https://www.welfare.ie/EN/Forms/Documents/carb1.pdf">Application form for Carer’s Benefit – CARB Form</a></li>
              <li><a href="https://www.ndls.ie/images/Documents/DrivingLicence/155076_NDLS_Med_Rep_V9_Online_FA_BD_PDFX.pdf">Driving License – Medical Report Form</a></li>
              <li><a href="https://assets.hse.ie/media/documents/medical-card-application-form-english_05gmj7u.pdf">Medical Card Application - MC1 Form</a></li>
              <li><a href="https://assets.hse.ie/media/documents/over-70s-gp-visit-card-application-form-english_3V6vVDo.pdf">GP Visit Card - Over 70s</a></li>
              <li><a href="https://www2.hse.ie/services/schemes-allowances/gp-visit-cards/under-8s/">GP Visit Card - Under 6s</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="../assets/forms" class="form-img">
        </div>
      </div>

    </div>
</div>