<div class="container-fluid">
    <div class="row col-sm-12">
      <div class="col-sm-8">
        <span>Welcome to Vernon Medical Clinic</span>
        <p>
          We provide primary care for all age groups to both medical card patients and private <br>
          patients. We have a designated disabled car parking space and a downstairs surgery for<br>
          disabled patients which can be specifically requested when making an appointment.<br><br>
          We have 2 doctors and a practice nurse at our surgery.<br><br>
          <span class="special-interest center hover-effect">➕ Dr. Mary Ward has a special interest in dermatology and women’s health.<br><br></span>
          <span class="special-interest center hover-effect">➕ Dr. Clare Shields has a special interest in women's health.<br><br></span>
          <span class="special-interest hover-effect">Ms. Gaye Keane</span>, our practice nurse is actively involved in the cervical smear campaign,<br>
          travel vaccinations and childhood immunisations.
        </p>
      </div>
      <div class="col-sm-4 image-container" [@fadeInOut]>
        <img src="../assets/image3" class="img-fluid image" alt="Responsive image" [@imageAnimation]>
        <p class="alignment"> View  <a class="link" href="https://www.google.com/maps/d/viewer?ie=UTF8&hl=en&msa=0&ll=53.360822000000006%2C-6.195087000000001&spn=0.008195%2C0.009656&z=15&source=embed&mid=1XwBkRMUwSBCP3nh4hdU_gkK3530">Vernon Medical Clinic</a> in larger map</p> 
      </div>
    </div>
  </div>
  